.StartProgram{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: blue;
}

.exitBtn{
    position: sticky;
    bottom: 0;
    background-color: red;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
}
