@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

.Timer{
    font-family: 'Tourney';
    position: sticky;
    top: 0;
    background-color: blue;
    display: flex;
    flex-direction: column;
}


.display{
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}


.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsContainer *{
    width: 2rem;

}

@media only screen and (max-width: 600px){
    .buttonsContainer *{
        width: 4rem;
    
    }

    .display{
        font-size: 4rem;
    }
  }