.CreateProgram{
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
}

.addExercises{
    background-color: yellow;
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
}

.timerHeader{
    color: blue;
}

.setTimer{
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    align-items: center;
    font-weight:900;
    font-size: 5rem;
    color: blue;

}

.editTime{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.editTime *{
    width: 3rem;
    margin: 0.5rem 0 0.5rem 0;
}

.exercise{
    display: flex;
    flex-direction: row;
}

.nameContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.nameContainer > input{
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5rem 0 0.5rem 0;
    font-size: large;
}

.nameOutput{
    font-size: 3rem;
    color: blue;
}


.cancelOrSave{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
    background-color: yellow;
}

.cancelOrSave *{
    width: 10%;
}