.chosenExercisesContainer{
    position: -webkit-sticky;
    position:sticky;
    top:0;
    background-color: red;
}
.chosenExercise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chosenExercise *{
    width: 2rem;
    border: 2px solid black;
}

.correctBtn{
    width: 100%;
    height: 1.5rem;
    justify-content: center;
    background-color: yellow;
}

.exercises{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.exercises *{
    
}

@media only screen and (max-width: 600px){
    .exercises{
        width: 100%;
    }
}