@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

#muscleName{
    font-family: 'Black Ops One';
    font-size: 2rem;
    text-shadow: 1px 1px 2px white;
}

.exercises{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.chosenExercisesContainer{
    position: -webkit-sticky;
    position:sticky;
    top:0;
    background-color: red;
}
.chosenExercise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chosenExercise *{
    width: 2rem;
    border: 2px solid black;
}


.controlButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:black;
}

.controlButtons *{
    width: 1.5rem;
    padding: 0.5rem 0;
}

@media only screen and (max-width: 600px){
    .exercises{
        width: 100%;
    }
}