.exerciseslist{
    display: flex;
    flex-direction: row;
    background-color: blue;
    align-items: center;
    width: 100%;
}

.exerciseslist > img {

}

.name{
    margin: 0 auto 0 auto;
}

.icon1{
    width: 10%;
    margin-left: 5%;
}
.icon2{
    width: 5%;
    margin-right: 5%;
}