.exercises{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.chosenExercisesContainer{
    position: -webkit-sticky;
    position:sticky;
    top:0;
    background-color: red;
}
.chosenExercise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chosenExercise *{
    width: 2rem;
    border: 2px solid black;
}

.correctBtn{
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    justify-content: center;
    background-color: yellow;
}

.controlButtons{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
    background-color:yellow;
    border: 2px solid black;
}

.controlButtons *{
    width: 10%;
}

/* .rotate:hover{
    -webkit-animation: rotate 1s 1 forwards;
    animation: rotate 1s 1 forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
} */

@media only screen and (max-width: 600px){
    .exercises{
        width: 100%;
    }
}