.exerciseslist{
    display: flex;
    flex-direction: row;
    background-color: blue;
    align-items: center;
    width: 100%;
    border: 2px solid black;
}

.exerciseslist > img {
    

}

.name{
    margin: 0 auto 0 auto;
}

.icon1, .icon2{
    width: 10%;
}