
.chosenExercise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exercises{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.exercises *{
    
}

.eIcon{
    width: 2rem;
}

@media only screen and (max-width: 600px){
    .exercises{
        width: 100%;
    }
}