.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: grey;
    justify-content: space-evenly;
}

.Main *{

}

.createBtn{
    background-color: red;
    margin: 3rem;
    cursor: pointer;
}