@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Big+Shoulders+Stencil+Text&family=Bungee+Shade&family=Geo&family=Geostar&family=Geostar+Fill&family=Keania+One&family=Kumar+One+Outline&family=Monoton&family=Orbitron:wght@600&family=Press+Start+2P&family=Revalia&family=Stalinist+One&family=Tourney&family=Wallpoet&display=swap');

/* font-family: 'Aldrich', sans-serif;
font-family: 'Big Shoulders Stencil Text', cursive;
font-family: 'Bungee Shade' (for adding time);
font-family: 'Geo' (highly stable);
font-family: 'Geostar', cursive;
font-family: 'Geostar Fill' (square);
font-family: 'Keania One', cursive;
font-family: 'Kumar One Outline', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P' (highly stable);
font-family: 'Revalia', cursive;
font-family: 'Stalinist One', cursive;
font-family: 'Tourney', cursive; (stable)
font-family: 'Wallpoet', cursive; */

.Timer{
    font-family: 'Press Start 2P';
    position: sticky;
    top: 0;
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight:900;
    font-size: 2rem;
}

.display{
    padding: 3rem;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsContainer *{
    width: 4rem;

}