.Timer{
    position: sticky;
    top: 0;
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight:900;
    font-size: 2rem;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsContainer *{
    width: 4rem;

}